
/*Header and footer styling*/
nav ul, footer ul 
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li 
{
    display: inline;
    margin-right: 35px;
}

/*Add color and hover effect*/
a 
{
    text-decoration: none;
    color: #6B8E23;
}
a:hover 
{
    text-decoration: underline;
}

/*Title styling*/
h1 
{
    font-size: 4.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #7FFF00
}
p 
{
    font-size: 1.5em;
    line-height: 1.35em;
    color: #556B2F;
}

/*Style footer color*/
footer 
{
    border-top: 1px solid #808000;
}





